body,
div,
ul,
li,
h1,
h2,
h3,
h4,
p,
button {
    margin: 0;
    padding: 0;
}

div,
article,
ul,
li,
h1,
h2,
h3,
h4,
p,
span,
button,
i {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: #666;
    font-size: 16px;
    overflow-x: hidden;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
input {
    outline: none;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #2479cc;
}
i {
    font-style: inherit;
}

.page {
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    background: #fff;
}
